#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

.todosContainer {
  width: 100%; /* Full width */
  height: 300px; /* Height of the container */
  background-color: lightgray; /* Gray background */
  border: 1px solid #ccc; /* Optional border */
  margin-top: 20px; /* Space above the container */
  border-radius: 8px; /* Rounded corners (optional) */
  overflow-y: auto; /* Scrollable if tasks overflow */
}

.todoBtns{
  display: flex;
  flex-direction: row;

}

li{
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  align-content: center;
}